<div class="flex h-screen bg-gray-100">

  <div class="w-64 bg-white shadow-md flex flex-col justify-between h-full">
    <div class="p-4">
      <div class="mt-4">
        <p class="text-lg text-gray-700">Olá, <span class="font-bold">{{ userName }}</span>! <br> <br> Bem-vindo(a) ao
          seu
          painel de controle.</p>
      </div>
    </div>
    <div class="border-t p-4">
      <div class="flex items-center py-2">
        <svg class="w-6 h-6 text-gray-700 mr-2" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 12H3m12 0l-4-4m4 4l-4 4"></path>
        </svg>
        <button type="button" class="text-gray-700 hover:text-blue-500" aria-haspopup="dialog" aria-expanded="false"
          aria-controls="hs-scale-animation-modal" data-hs-overlay="#hs-scale-animation-modal">Sair</button>
      </div>
    </div>
  </div>

  <div class="flex-1 flex flex-col">

    <header class="bg-white shadow-md p-4">
      <div class="mb-4 flex justify-between items-center">
        <h1 class="text-3xl font-bold text-center flex-grow">Dashboard</h1>
        <button (click)="goToNewFeedbackPage()"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 ml-auto">Enviar Novo Feedback</button>
      </div>
    </header>
    <main class="flex-1 p-4 overflow-y-auto">
      <div class="bg-white shadow-md rounded p-4">
        <h2 class="text-xl font-bold mb-4">Feedbacks Recebidos</h2>
        <div class="flex flex-col">
          <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
              <div class="border rounded-lg divide-y divide-gray-200">
                <div class="py-3 px-4">
                  <div class="relative max-w-xs">
                    <label class="sr-only">Search</label>
                    <input type="text" name="hs-table-with-pagination-search" id="hs-table-with-pagination-search"
                      class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      placeholder="Search for items">
                    <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
                      <svg class="size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <div *ngIf="isLoading" class="flex justify-center items-center">
                  <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <div *ngIf="!isLoading" class="overflow-hidden">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Enviado
                          por
                        </th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Data
                        </th>
                        <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Ações
                        </th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      <tr *ngFor="let feedback of feedbacks">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                          <ng-container *ngIf="users[feedback.senderId]; else loading">

                            {{ users[feedback.senderId].name }}
                          </ng-container>
                          <ng-template #loading>Carregando...</ng-template>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ feedback.createdAt|
                          date:'dd/MM/yyyy' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                          <button type="button"
                            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none mr-2"
                            aria-haspopup="dialog" aria-expanded="false"
                            aria-controls="hs-vertically-centered-scrollable-modal"
                            data-hs-overlay="#hs-vertically-centered-scrollable-modal">Visualizar</button>
                          <button type="button"
                            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 focus:outline-none focus:text-red-800 disabled:opacity-50 disabled:pointer-events-none"
                            (click)="deleteFeedback(feedback.id)">Excluir</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="py-1 px-4">
                  <nav class="flex items-center space-x-1" aria-label="Pagination">
                    <button type="button"
                      class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                      aria-label="Previous">
                      <span aria-hidden="true">«</span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button type="button"
                      class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none"
                      aria-current="page">1</button>
                    <button type="button"
                      class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none">2</button>
                    <button type="button"
                      class="min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none">3</button>
                    <button type="button"
                      class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                      aria-label="Next">
                      <span class="sr-only">Next</span>
                      <span aria-hidden="true">»</span>
                    </button>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-white shadow-md p-4 text-center">
      <p class="text-gray-600">&copy; 2024 Wesley Lima.</p>
    </footer>
  </div>
</div>

<!-- MODAL -->
<div id="hs-scale-animation-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label">
  <div
    class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
    <div class="w-full flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 id="hs-scale-animation-modal-label" class="font-bold text-gray-800">
          Confirme!
        </h3>
        <button type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
          aria-label="Close" data-hs-overlay="#hs-scale-animation-modal">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <p class="mt-1 text-gray-800">
          Deseja realmente sair?
        </p>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-overlay="#hs-scale-animation-modal">
          Cancelar
        </button>
        <button (click)="logout()" type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none "
          data-hs-overlay="#hs-scale-animation-modal">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>

<div id="hs-vertically-centered-scrollable-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog" tabindex="-1" aria-labelledby="hs-vertically-centered-scrollable-modal-label">
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto h-[calc(100%-3.5rem)] min-h-[calc(100%-3.5rem)] flex items-center">
    <div
      class="w-full max-h-full overflow-hidden flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
      <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
        <h3 id="hs-vertically-centered-scrollable-modal-label" class="font-bold text-gray-800 dark:text-white">
          Modal title
        </h3>
        <button type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
          aria-label="Close" data-hs-overlay="#hs-vertically-centered-scrollable-modal">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <div class="space-y-4">
          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Be bold</h3>
            <p class="mt-1 text-gray-800 dark:text-neutral-400">
              Motivate teams to do their best work. Offer best practices to get users going in the right direction. Be
              bold and offer just enough help to get the work started, and then get out of the way. Give accurate
              information so users can make educated decisions. Know your user's struggles and desired outcomes and give
              just enough information to let them get where they need to go.
            </p>
          </div>

          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Be optimistic</h3>
            <p class="mt-1 text-gray-800 dark:text-neutral-400">
              Focusing on the details gives people confidence in our products. Weave a consistent story across our
              fabric and be diligent about vocabulary across all messaging by being brand conscious across products to
              create a seamless flow across all the things. Let people know that they can jump in and start working
              expecting to find a dependable experience across all the things. Keep teams in the loop about what is
              happening by informing them of relevant features, products and opportunities for success. Be on the
              journey with them and highlight the key points that will help them the most - right now. Be in the moment
              by focusing attention on the important bits first.
            </p>
          </div>

          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Be practical, with a wink</h3>
            <p class="mt-1 text-gray-800 dark:text-neutral-400">
              Keep our own story short and give teams just enough to get moving. Get to the point and be direct. Be
              concise - we tell the story of how we can help, but we do it directly and with purpose. Be on the lookout
              for opportunities and be quick to offer a helping hand. At the same time realize that novbody likes a nosy
              neighbor. Give the user just enough to know that something awesome is around the corner and then get out
              of the way. Write clear, accurate, and concise text that makes interfaces more usable and consistent - and
              builds trust. We strive to write text that is understandable by anyone, anywhere, regardless of their
              culture or language so that everyone feels they are part of the team.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-neutral-700">
        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          data-hs-overlay="#hs-vertically-centered-scrollable-modal">
          Close
        </button>
        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>