<div *ngIf="feedback && user" class="p-4 bg-transparent rounded relative">
  <button type="button" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900" (click)="closeDetails()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <h3 class="text-xl font-bold mb-4">{{ feedback.name }}</h3>
  <p class="mt-1 text-gray-800">
    <strong>Mensagem:</strong> {{ feedback.message }}
  </p>
</div>
